<html>
    <head>
        <style>
            
        </style>
    </head>
    <body>
        
        <script>
            console.log(location.search.split('=')[1]);

        </script>
    </body>
</html>