<html>
    <head>
        <title>

        </title>
    </head>
    <body>
        <form method="post" action="/signup">
            <input type="text" name="firstname" placeholder="firstname" />
            <input type="text" name="lastname" placeholder="lastname" />
            <input type="email" name="email" placeholder="Email" />
            <input type="password" name="password" placeholder="password" />
            <button>signup</button>
        </form>
    </body>
</html>